# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# env files
.env*.local

# debug
npm-debug.log*

# misc
.DS_Store
*.tsbuildinfo
.vercel
AGENTS.md
docs/requirementos_projeto.pdf
